h1 {

	font-size: 25px;
	text-align: center;

}

#post-container {

	width: 70%;
	padding: 10px;

}

.post {

	width: 90%;
	border: 2px solid #CCC;
 	border-radius: 5px;
 	margin: 10px;
 	margin-left: auto;
 	margin-right: auto;
 	box-shadow: 2px 2px #888888;

}

.post-text {
	width: 55%;
	float: left;
	padding: 10px;
}

.post-pic {
	vertical-align: middle;
	width: 200px;
	height: 200px;
    	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 20px;
}

.profile-pic {
  vertical-align: middle;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  float: left;
  margin: 10px;
}

.user {
	font-size: 12px;
	float: left;
}

.caption {
	font-size: 15px;
}

.post-img {
	width: 40%;
	float: left;
	padding: 5px;
}

.no-img {
	width: 100%;
}

.clearfloat {
	clear: both;
}



/* JAY'S CONTRIBUTION */

#both-containers {
    display: flex;
}


#side-column{
    width: 20%;
    padding-top: 10px;
}

#create-post-button {
    width: 90%;
	border: 2px solid #CCC;
 	border-radius: 5px;
 	margin: 10px;
 	margin-left: auto;
 	margin-right: auto;
 	box-shadow: 2px 2px #888888;

    background-color:#CFDEC0;
}


#column-trending {
    width: 90%;
	border: 2px solid #CCC;
 	border-radius: 5px;
 	margin-left: auto;
 	margin-right: auto;
 	box-shadow: 2px 2px #888888;
}

.green {
    background-color:#CFDEC0;
    margin: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.trending-post {
    padding: 10px;


}

.trending-post-user-info {
    display: flex;
    flex-direction: row;
}

.trending-post-user-info p {
    font-size: 13px;
    padding-left: 4px;
}
