/* GENERAL */
body {
	font-family: 'Inter', sans-serif;
	background-color: #FFFDFA;
}
.clearfloat {
	clear: both;
}

/* RECOMMENDATION SECTION */
.rec-section {
	width: 90%;
	margin: 75px auto;

	display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.rec-box {
	width: 400px;
	height: 100px;
	padding: 5px;
	border-radius: 30px;
	float: left;
	margin: 0px 30px;
}
.rec-text {
	width: 50%;
	float: right;
	font-weight: bold;
	color: black;
	font-size: 20px;
	line-height: 5px;
	margin: 20px 5px 0px 0px;
}
.more {
	font-size: 13px;
	font-weight: initial;
}
.rec-descr {
	font-weight: 700px;
}
.rec-preview {
	float: left;
	height: 90px;
	margin-top: 5px;
	margin-left: 45px;
}
.pink {
	background-color: #F6EDEB;
}
.green {
	background-color: #CFDEC0;
}
.orange {
	background-color: #E78531;
}

/* POSTS SECTION */
.posts-section {
	width: 90%;
	margin: 75px auto;

	display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: top;
}
.food-photo {
	width: 275px;
	overflow: hidden;
	border-radius: 15px;
}
.hover-shadow {
	position: relative;
}
.overlay {
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
	border-radius: 15px;
	visibility: hidden;

	position: absolute;
	top:0;
	left:0px;
}
.save-icon {
	position: absolute;
	bottom: 15px;
	right: 15px;

	width: 25px;
}
.explore-post {
	margin-bottom: 40px;
}
.post-caption {
	font-weight: bold;
	line-height: 10px;
}
.post-author {
	font-size: 14px;
	line-height: 10px;
}

/* POSTS SECTION INTERACTIONS */
.explore-post:hover .overlay {
	visibility: visible;
}
